<html>
@model PortalDataPresentation.ViewModels.LineChartVM

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br />
<br />
<body>
    <h2>Measurements for @Model.Data.First().DataTypeKeyName</h2>

    <div class="col-md-6; col-lg-12">
        @await Html.PartialAsync("RefreshTable", Model.Data)
    </div>
    <div class="col-md-6; col-lg-12">
        @await Html.PartialAsync("LineChart", Model)
    </div>

    @*<input type="button" value="Analyze" onclick="@("window.location.href='" + @Url.Action("Analyze", "MeasurementDatas", Model) + "'");" />*@

    <button type="button" id="btnAnalyze" class="btn btn-primary">Analyze</button>



</body>
</html>
@*data: {measurements: @Json.Serialize(Model.Data), operation: 'Average'},*@
<script type="text/javascript">
    var p = document.getElementById("btnAnalyze");
    p.onclick = passDataToAnalysis;
    @*
    , operation: "Average"    
    *@
    function passDataToAnalysis() {
        $.ajax({
            type: 'POST',
            contentType: 'application/json; charset=utf-8',
            url: '@Url.Action("Analyze", "AnalysisComputation", new {operation = "Average"})',
            dataType: 'JSON',
            data: JSON.stringify(@Json.Serialize(Model.Data)),
            success: function(result) {
                alert(result.result);
            },
            error: function(e) {
                alert(e);
            }
        });
        @*$.post('@Url.Action("Analyze", "AnalysisComputation")', {measurements: @Json.Serialize(Model.Data), operation:'Average'}).done(function(response){
            alert("success");
        });*@
    }
</script>