<html>
@using PortalDataPresentation.Controllers
@model PortalDataPresentation.ViewModels.LineChartVM

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";

}
<br />
<br />
<head>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.bundle.min.js"></script>
    <script src="main.js"></script>
</head>

<body>
    <div>
        <h2>Measurements for @Model.dataTypeName</h2>
        <div class="md-form">
            <form asp-controller="MeasurementDatas" asp-action="Index" method="get">
                <table>
                    <tr>
                        <td>
                            <label>Data type: </label>
                        </td>
                        <td>
                            <label>Date from: </label>
                        </td>
                        <td>
                            <label>Date to: </label>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <select asp-for="dataTypeName" asp-items="Model.dataTypeNames" class="form-control"></select>
                        </td>
                        <td>
                            <input asp-for="minDate" value="@Model.minDate.ToString("yyyy-MM-dd")" asp-format="{0:yyyy-mm-dd}" type="date" class="form-control" />
                        </td>
                        <td>
                            <input asp-for="maxDate" value="@Model.maxDate.ToString("yyyy-MM-dd")" asp-format="{0:yyyy-mm-dd}" type="date" class="form-control" />
                        </td>
                    </tr>
                </table>
                <br /><button class="btn btn-primary" type="submit">Filter</button>
            </form>

            <form asp-controller="MeasurementDatas" asp-action="DownloadCsv" method="get">
                <input asp-for="dataTypeName" type="hidden" value="@Model.dataTypeName" />
                <input asp-for="minDate" type="hidden" value="@Model.minDate" />
                <input asp-for="maxDate" type="hidden" value="@Model.maxDate" />
                <button class="btn btn-success" id="btnDownloadCSV" type="submit">Download CSV</button>
            </form>
        </div>
        <div class="col-md-6; col-lg-12">
            @await Html.PartialAsync("RefreshTable", Model.Data)
        </div>
        <div class="col-md-6; col-lg-12">
            @await Html.PartialAsync("LineChart", Model)
        </div>
        @*<input type="button" value="Analyze" onclick="@("window.location.href='" + @Url.Action("Analyze", "MeasurementDatas", Model) + "'");" />*@

        <canvas id="myChart2" width="200" height="200"></canvas>
        <p>
            <label>Wynik: </label>
            <label id="lblResult"></label>
        </p>
        <input type="button" id="btnAverage" value="Average" class="btn btn-primary" />
        <input type="button" id="btnMax" value="Max" class="btn btn-primary" />

    </div>
</body>
</html>

<script type="text/javascript"></script>
<script>

    var btnAverage = document.getElementById("btnAverage");
    var btnMax = document.getElementById("btnMax");

    btnAverage.addEventListener('click', function(){
        passDataToCountAverage();
    });

    btnMax.addEventListener('click', function(){
        passDataToCountMax();
    });
    
    function passDataToCountAverage() {
        $.ajax({
            type: 'POST',
            contentType: 'application/json; charset=utf-8',
            url: '@Url.Action("Analyze", "AnalysisComputation", new {operation = "Average"})',
            dataType: 'JSON',
            data: JSON.stringify(@Json.Serialize(@Model)),
            success: function(result) {
                drawChart(result.result);
            },
            error: function(e) {
                alert(e);
            }
        });
    }
    function passDataToCountMax() {
        $.ajax({
            type: 'POST',
            contentType: 'application/json; charset=utf-8',
            url: '@Url.Action("Analyze", "AnalysisComputation", new {operation = "Max"})',
            dataType: 'JSON',
            data: JSON.stringify(@Json.Serialize(@Model)),
            success: function(result) {
                drawChart(result.result);
            },
            error: function(e) {
                alert(e);
            }
        });
    }

    function drawChart(result) {
        var data = [result];
        var ctx = document.getElementById("myChart2").getContext('2d');
        var myChart = new Chart(ctx,
            {
                type: 'bar',
                data: {
                    labels: ['Wynik'],
                    datasets: [
                        {
                            label: ['Wartosc'],
                            data: data,
                            backgroundColor: [
                                'rgba(75, 192, 192, 0.4)',
                            ],
                            borderColor: [
                                'rgba(75, 192, 192, 0.4)'
                            ],
                            borderWidth: 1
                        }
                    ]
                },
                options: {
                    responsive: false,
                    maintainAspectRatio: false,
                    scales: {
                        yAxes: [
                            {
                                ticks: {
                                    beginAtZero: true
                                }
                            }
                        ]
                    }
                }
            });
    }
</script>
