<html>
@model PortalDataPresentation.ViewModels.LineChartVM

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br />
<br />

<body>
    <div>
        <h2>Measurements for @Model.dataTypeName</h2>
        <div class="md-form">
            <form asp-controller="MeasurementDatas" asp-action="Index" method="get">
                <table>
                    <tr>
                        <td>
                            <label>Data type: </label>
                        </td>
                        <td>
                            <label>Date from: </label>
                        </td>
                        <td>
                            <label>Date to: </label>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <select asp-for="dataTypeName" asp-items="Model.dataTypeNames" class="form-control"></select>
                        </td>
                        <td>
                            <input asp-for="minDate" value="@Model.minDate.ToString("yyyy-MM-dd")" asp-format="{0:yyyy-mm-dd}" type="date" class="form-control" />
                        </td>
                        <td>
                            <input asp-for="maxDate" value="@Model.maxDate.ToString("yyyy-MM-dd")" asp-format="{0:yyyy-mm-dd}" type="date" class="form-control" />
                        </td>
                    </tr>
                </table>
                <br /><button class="btn btn-primary" type="submit">Filter</button>
            </form>

            <form asp-controller="MeasurementDatas" asp-action="DownloadCsv" method="get">
                <input asp-for="dataTypeName" type="hidden" value="@Model.dataTypeName" />
                <input asp-for="minDate" type="hidden" value="@Model.minDate" />
                <input asp-for="maxDate" type="hidden" value="@Model.maxDate" />
                <button class="btn btn-success" id="btnDownloadCSV" type="submit">Download CSV</button>
            </form>
        </div>
        <div class="col-md-6; col-lg-12">
            @await Html.PartialAsync("RefreshTable", Model.Data)
        </div>
        <div class="col-md-6; col-lg-12">
            @await Html.PartialAsync("LineChart", Model)
        </div>
        @*<input type="button" value="Analyze" onclick="@("window.location.href='" + @Url.Action("Analyze", "MeasurementDatas", Model) + "'");" />*@
        <p>
            <label>Wynik: </label>
            <label id="lblResult"></label>
        </p>
        <button type="button" id="btnAnalyze" class="btn btn-primary">Average</button>
    </div>
</body>
</html>
<script type="text/javascript">

    var btnAnalyze = document.getElementById("btnAnalyze");
    var lblResult = document.getElementById("lblResult");

    btnAnalyze.onclick = passDataToAnalysis;

    function passDataToAnalysis() {
        $.ajax({
            type: 'POST',
            contentType: 'application/json; charset=utf-8',
            url: '@Url.Action("Analyze", "AnalysisComputation", new {operation = "Average"})',
            dataType: 'JSON',
            data: JSON.stringify(@Json.Serialize(Model.Data)),
            success: function (result) {
                lblResult.innerHTML = result.result;
            },
            error: function(e) {
                alert(e);
            }
        });
    }
</script>